/**
 * https://github.com/MENEL4US/typewriter 
 * 
 * Luiz Mendes
 * https://www.linkedin.com/in/luiz-mendes-dev/
 * 
 * Florianópolis, SC. Brazil
 * 2022-03-26
 */

.typewriter::after {
    content: '|';
    margin-left: 10px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}